body {
  margin: 1rem;
}
h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: stretch;
  min-width: 400px;
  max-width: 800px;
}
form fieldset {
  margin: 0;
  padding: 1rem;
  min-width: 400px;
  max-width: 800px;
  background-color: lightgray;
  flex-grow: 1;
}
fieldset:hover {
  background-color: gray;
}
fieldset:first-of-type,
fieldset:last-of-type {
  border-bottom: solid 5px black;
}
.mandatory {
  border: solid 1px red;
}
button {
  margin-top: 3px;
  background-color: black;
  color: white;
  border: none;
  align-self: flex-start;
}
