body {
  margin: 0;
  margin-bottom: 5rem;
}

/*  */
/* Mobile style */
/*  */

@media screen and (max-width: 1023px) {
  header {
    margin: 0;
    padding: 1.5rem;
    text-align: center;

    color: white;
    background: black;
  }
  section {
    margin: 2rem;
  }
  img {
    width: 100%;
    height: auto;
  }
}

/*  */
/* Desktop style */
/*  */

@media screen and (min-width: 1024px) {
  header {
    margin: 0;
    padding: 1.5rem;
    padding-right: 10vw;
    text-align: left;

    color: white;
    background: black;
  }
  section {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .mainSectionLayout {
    display: flex;
  }
  img {
    order: 1;
  }
}

/*  */
/* General style */
/*  */

section h3 {
  padding-bottom: 0.5rem;
  border-bottom: solid 1px black;
}
label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
label + * {
  width: 100%;
  background-color: gray;
  border: none;
  min-height: 2rem;
}
label + *:focus {
  background-color: white;
}
button {
  margin-top: 1rem;
  color: white;
  background-color: black;
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
