/* estilos de la primera lista */

.lista :last-child {
  background-color: rgb(0, 77, 255);
}
.lista :nth-child(odd) {
  text-decoration: underline;
  text-decoration-color: green;
}
.lista li {
  display: inline;
  margin-right: 10px;
}
.lista li[lang="en"] {
  font-size: 2em;
}
.lista :first-child::after {
  content: "\01F525";
}
.lista :nth-child(2)::after {
  content: "\01F526";
}
.lista :nth-child(3)::after {
  content: "\01F527";
}
.lista :nth-child(4)::after {
  content: "\01F528";
}
.lista :nth-child(5)::after {
  content: "\01F529";
}
.lista :nth-child(6):after {
  content: "\01F530";
}

/* Estilos de la segunda lista */

#provincias {
  list-style: lower-roman;
}
#provincias :nth-child(2) {
  list-style: none;
}
