body {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-bottom: 5vw;
  display: grid;
  grid-template-areas:
    "margin margin margin margin margin"
    "margin top top top margin "
    "margin section1 section2 section3 margin"
    "margin margin margin margin margin";
  grid-template-columns: auto 1fr 1fr 1fr auto;
  grid-template-rows: auto 25% auto auto;
  background-color: rgb(214, 158, 54);
}

h1 {
  color: white;
  margin: 3rem;
  margin-top: 0;
  grid-column: 2 / 5;
  grid-row: 2 / 2;
  justify-self: center;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
}

/* Profile styles */

.centerSection {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  justify-self: center;
  align-self: center;

  width: 20vw;
  min-height: 580px;
  min-width: 200px;
  background-color: rgb(89, 79, 221);
}
.leftSection {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  justify-self: center;
  align-self: center;

  width: 20vw;
  min-height: 580px;
  min-width: 200px;
  background-color: rgb(89, 79, 221);
}
.rightSection {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  justify-self: center;
  align-self: center;

  width: 20vw;
  min-width: 200px;
  min-height: 580px;
  background-color: rgb(89, 79, 221);
}

/* General styles */

.profileIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: white;
}
.profileIntro > img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.profileIntro .icons img {
  width: 2.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.profileDescription {
  margin: 0;
  padding: 1rem;
}

/* Effects */

section {
  transition-property: all;
  transition-duration: 1s;
}
section:hover {
  transform: scale(1.1);
}

section,
h1 {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
